{{ if .IsNamedParams }}
    <div class="subflexer">  
        <figure class="snip1344"><img src="https://avatars.githubusercontent.com/u/19727349?v=4" alt="profile-sample1" class="background"/><img src="https://avatars.githubusercontent.com/u/19727349?v=4" alt="profile-sample1" class="profile"/>
            <figcaption>
                <h3>TheFlash2k<span>Pwn / Rev / Misc</span></h3>
                <div class="icons">
                    <a href="#"><i class="ion-globe-outline"></i></a>
                    <a href="#"> <i class="ion-social-github-outline"></i></a>
                </div>
            </figcaption>
        </figure>
    </div>
{{ end }}