{{ if .IsNamedParams }}
    <div class="subflexer">  
        <figure class="snip1344">
            <img src="{{ .Get "imgsrc" }}" alt="{{ .Get "name" }}" class="background"/>
            <img src="{{ .Get "imgsrc" }}" alt="{{ .Get "name" }}" class="profile"/>
            <figcaption>
                <h3>{{ .Get "name" }}<span>{{ .Get "tagline" }}</span></h3>
                <div class="icons">
                    <a href="{{ .Get "weblink" }}" target="_blank"> <i class="ion-social-chrome-outline" ></i></a>
                    <a href="{{ .Get "githublink" }}" target="_blank"> <i class="ion-social-github-outline" ></i></a>
                </div>
            </figcaption>
        </figure>
    </div>
{{ end }}